/* body{
    background-color: aqua;
    

  height: 500px;
 
} */
.but{
    background-color: #27B0B0;
  border: none;
  color: white;
  padding: 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 1px;
  width:230px;
  height:230px;border-radius: 50%;
}
#bcbn{
  background-image: url("../images/pic.jpg");
  background-size: cover;
background-repeat: no-repeat, repeat;
  /* background-position: center; */
  position: relative;
}